<div class="container mx-auto flex items-center justify-center flex-wrap pb-12">
  <% if !@listing.in_stock && ( signed_in? && current_user.admin ) %>
    <%= render "item_show" %>
  <% elsif !@listing.in_stock %>
    <p>Sorry, this item isn't in stock right now!</p>
  <% else %>
    <%= render "item_show" %>
  <% end %>
</div>
<%= render "shared/footer_listings.html.erb" %>
