<h1 class="text-center pt-10 text-3xl text-orange-900">Contact Us</h1>

<p class="pt-5 px-6 text-center">If you have any questions or concerns, feel free to contact me!<br>We value your thoughts!</p>

<div class="pt-10 flex justify-center">
  <ul class="contact-list">
    <li>
        <a href="https://www.instagram.com/the.lady.fern/"><%= image_tag  "instagram.png", class:"contact-link" %></a>
    </li>
    <li>
        <a href="#"><%= image_tag  "facebook.png", class:"contact-link" %></a>
    </li>
    <li>
        <a href="#"><%= image_tag  "mail.png", class:"contact-link" %></a>
    </li>
  </ul>
</div>
