<h1>Profile View</h1>

<%= link_to "Log Out", destroy_user_session_path, class:"bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center", :method => :delete %>