<div class="container mx-auto pl-12 pt-6 text-3xl">
  <h1>Search Results: </h1>
</div>

<div class="container mx-auto flex items-center flex-wrap pt-4 pb-12" >
  <% if @listings.count > 0 %>
    <%= render "shared/listings_card" %>
  <% else %>
    <p class="pl-8 lg:pl-0 text-center" >Sorry, I couldn't find any listings!</p>
  <% end %>
</div>

<%= render "shared/footer_listings" %>